[user]
	email = prajwalnadig21@gmail.com
	name = Prajwal S N
	signingkey = D0FECEE245BC2695
[url "git@github.com:"]
	insteadOf = "gh:"
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[alias]
	a = add
	b = "!SUCCESS=$(git switch \"$1\" 2>&1); \
		if [[ $SUCCESS == *\"invalid reference\"* ]]; then \
			read -e -n 1 -p \"Create new branch $1? (Y/n) \" CHOICE; \
			if [[ $CHOICE != \"n\" ]]; then \
				git switch -c \"$1\"; \
			fi \
		fi #"
	bd = branch -D
	bdr = push -d origin
	br = branch -a
	cl = clone
	fork = "!git clone \"$1\" && git remote add upstream \"$2\" #"
	cm = commit -s
	cma = commit --amend
	cman = commit --amend --no-edit
	d = diff
	l = log
	lo = log --oneline
	pl = pull
	ps = push
	s = status
	up = "!BRANCH=\"${1:-\"main\"}\"; git pull upstream $BRANCH && git push #"
[push]
	autoSetupRemote = true
[core]
	editor = nvim
