[user]
	email = prajwalnadig21@gmail.com
	name = Prajwal S N
	signingkey = D0FECEE245BC2695
[url "git@github.com:"]
	insteadOf = "gh:"
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[alias]
	a = add
	b = "!f() { git switch $1; }; f"
	bn = "!f() { git switch -c $1; }; f"
	br = branch
	cl = clone
	cm = commit -s
	cma = commit --amend
	cman = commit --amend --no-edit
	d = diff
	l = log
	lo = log --oneline
	pl = pull
	ps = push
	s = status
	up = !git pull upstream main && git push
[push]
	autoSetupRemote = true
